{#@author  SAS OpenXtrem <dev@openxtrem.com>#}
{#@license https://www.gnu.org/licenses/gpl.html GNU General Public License#}
{#@license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License#}

{% extends "base.html.twig" %}

{% block title %}{{ Translator.tr('common-Page not found') }}{% endblock %}

{% block body %}
    <div class="Offline-customBackground {% if bg %}me-bg-custom{% endif %}"></div>
    <div class="OfflineCard">
        <div class="OfflineCard-content">
            <img class="OfflineCard-logo" src="{{ src_logo }}"/>
            <div class="OfflineCard-illus">
                {{ include('pictures/404.svg') }}
            </div>
            <div class="OfflineCard-text">
                <div class="OfflineCard-catchPhrase">
                    {{ Translator.tr('common-Page not found') }}
                </div>
                <div class="OfflineCard-desc">
                    {{ Translator.tr('common-This page does not exists') }}
                    <br/>
                    {{ Translator.tr('common-Check the url') }}
                </div>
            </div>
            <div class="OfflineCard-action">
                <a class="OfflineCard-primaryButton me-primary button" href="{{ external_url }}">
                    {{ Translator.tr('common-Back to main page') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
