{#@author  SAS OpenXtrem <dev@openxtrem.com>#}
{#@license https://www.gnu.org/licenses/gpl.html GNU General Public License#}
{#@license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License#}

<!DOCTYPE html>
<html>
<head>
    <meta charset=iso-8859-1"/>
    <meta name="Description" content="Mediboard: Plateforme Open Source pour les Etablissements de Santé"/>

    <title>Mediboard SIH &mdash; Service inaccessible</title>

    {% if base_href %}<base href="{{ base_href }}">{% endif %}
    <link rel="shortcut icon" type="image/ico" href="style/mediboard_ext/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="style/mediboard_ext/standard.css" media="all"/>
</head>
<body class="offline">
<div class="Offline-customBackground {% if bg %}me-bg-custom{% endif %}"></div>
<div class="OfflineCard">
    <div class="OfflineCard-content">
        <img class="OfflineCard-logo" src="{{ src_logo }}"/>
        <div class="OfflineCard-illus">
            {{ include('pictures/offline.svg') }}
        </div>
        <div class="OfflineCard-text">
            <div class="OfflineCard-catchPhrase">
                {{ application|upper }} inaccessible
            </div>
            <div class="OfflineCard-desc">
                <em>{{ message }}</em>
                <br>
                Merci de réessayer ultérieurement.
            </div>
        </div>
        <div class="OfflineCard-action">
            <button class="OfflineCard-primaryButton me-primary" onclick="document.location.reload();">
                Accéder à {{ application|upper }}
            </button>
        </div>
    </div>
</div>
</body>
</html>
